---
import Layout from '../layouts/Layout.astro';
import Soudana from '../components/Soudana.astro';
import Soudane from '../components/Soudane.astro';
---

<Layout title="そうだな" description='そうだね'>
	<div>
		<div class="hero is-fullheight">
			<div class="hero-body">
			  <div class="container has-text-centered">
				<Soudana />
				<Soudane />
			  </div>
			</div>
			<div class="hero-foot">
			  <nav class="tabs is-boxed is-fullwidth">
				
			  </nav>
			</div>
		  </div>
	</div>
</Layout>

<style>
	
</style>